<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel='stylesheet' href='/libs/materialize/css/materialize.min.css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'>
    <style>
        *{
            font-family: 'Jockey One', sans-serif;
        }
    </style>

</head>
<body>
<div class="container">
    <div class="card-panel">
        <h6 class="center-align green-text darken-4" style="font-weight: bold; font-size: 25px;">NASH CHAT APP</h6>
    </div>
    <div class="row">
        <form class="col s12" action="/chat">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" type="text" class="validate" name="username">
                    <label for="icon_prefix">Username</label>
                </div>

            </div>
            <button class="btn waves-effect waves-light btn-large pink accent-3" type="submit">Join Room
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>

</div>

<script src="/libs/jquery-2.1.0.min.js"></script>
<script src="/libs/materialize/js/materialize.min.js"></script>
<script>
    $(function () {
        $('select').material_select();
    });
</script>
</body>
</html>
