*{
    font-family: 'Fresca', sans-serif;
}
html, body {
    height: 100% !important;
    margin: 0;
    padding: 0;
}

.sidebar, .chat-wrapper {
    height: 100% !important;
}

.msg-board {
    height: 80%;
}

.msg-input {
    padding-top: 20px;
    height: 10%;
}
.card-panel{
    padding: 10px!important;
}

div.wrapper > .row{
    height: 100%!important;
    margin: 0!important;
}

div.wrapper{
    height: 100%!important;
    margin: 0!important;
    /*overflow: hidden;*/
}

/*.msg-content{*/
    /*height: 10px !important;*/
/*}*/

@media screen and (max-width: 599px){
    html, body {
        height: auto !important;
    }

    .sidebar, .chat-wrapper {
        height: auto !important;
    }

    .msg-board {
        height: 400px;
        overflow: scroll;
        margin-top: 10px;
    }

    div.wrapper > .row{
        height: auto!important;
        margin: 0!important;
    }

    div.wrapper{
        height: auto!important;
        margin: 0!important;
        /*overflow: hidden;*/
    }
}