* {
    font-family: 'Fresca', sans-serif;
}

html, body {
    height: 100% !important;
    margin: 0;
    padding: 0;
}

#content > #msg.card-panel{
    word-wrap: break-word;
}

.sidebar, .chat-wrapper {
    height: 100% !important;
}

.inv-board {
    height: 15%;
}

.msg-board.inv-board {
    height: 63%;
    overflow: auto;
}

.msg-board.no-inv-board {
    height: 80%;
    overflow: auto;
}

.msg-input {
    padding-top: 20px;
    height: 10%;
}

.card-panel {
    padding: 10px !important;
}

div.wrapper > .row {
    height: 100% !important;
    margin: 0 !important;
}

div.wrapper {
    height: 100% !important;
    margin: 0 !important;
    /*overflow: hidden;*/
}

/*.msg-content{*/
/*height: 10px !important;*/
/*}*/

@media screen and (max-width: 599px) {
    html, body {
        height: auto !important;
    }

    .sidebar, .chat-wrapper {
        height: auto !important;
    }

    .msg-board.inv-board, .msg-board.no-inv-board{
        height: 500px;
        margin-top: 10px;
    }

    /*.msg-board.inv-board, .msg-board.no-inv-board{*/
        /*overflow: scroll;*/
    /*}*/

    div.wrapper > .row {
        height: auto !important;
        margin: 0 !important;
    }

    div.wrapper {
        height: auto !important;
        margin: 0 !important;
        /*overflow: hidden;*/
    }
}